

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: red;
}
.CANDACE{
    color: blue;
}

.MARY{
    color: green;
    text-shadow: 10px 10px 7px grey;
    height: 50px;
}
.direction{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: black;
}
.direction:hover{
    background-color: thistle ;
    color: aquamarine;
}
.Speech{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.tb{
    border: 5px solid green;
    text-align: center;
    width: fit-content;
}
.Table{
    height: 10px;
    vertical-align: bottom;
    padding: 10px;
    border-collapse: collapse;


}
.bonus image{
    margin: 10px;
}
        
.p{
    margin: 5px;
}
